extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")
head
    title=title
    //meta(name="viewport" content="width=device-width, initial-scale=1")
append styles
    link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
block body  
    .container 
        .header 
            include ./partials/header.jade
        include ./partials/navbar.jade
        //- a(href='shop.html')
        //-     p(style='float:right') Add a listing
        //-     span.glyphicon.glyphicon-plus-sign(style="font-size:3em;float:right")
        #padding
            h2(style="padding-left: 10px;") Shopping Cart
            br
            br
            -var size = user.cart.length
            -var total = 0;
            -for(var x = 0; x < size; x++)
              - var name = user.cart[x].name
              - var price = user.cart[x].price
              - var image = user.cart[x].imageString
              - total=total + price
              .col-md-4
                .panel.panel-default
                    .panel-heading
                        h3.panel-title=name
                          a(href="/removeItem/" + x)
                            span.glyphicon.glyphicon-minus-sign.red(style="font-size:1.6em;float:right")
              
                    .panel-body
                        .col-md-8
                            img.listing(src=image)
                            br
                        .col-md-2
                            h4 Price
                            //- p(style="display:inline" font-size=) $
                            //- p(style="display:inline")=price
                            span.glyphicon.glyphicon-usd(style="display:inline;font-size:1.2em")
                            p(style="display:inline;font-size:1.2em")=price
        .col-md-4
          #size(style="font-size:1.5em")
            +alert-i-info(total,"usd")    
                
