extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")
head
	title=title
	//meta(name="viewport" content="width=device-width, initial-scale=1")
append styles
	link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
	link(rel="stylesheet" href="/stylesheets/style.css")
block body	
	.container 
		.header 
			if(user.loggedIn)
				a.btn.btn-default.btn-lg.right(href="/login",role="button") 登录
			else
				#right(style='float:right;')
					p= "欢迎 "
					b=user.username
			img.center(src='images/titleC.jpg', alt='logo',style='max-width:100%; height:auto;width:auto')
			
			.center
				#formCenter
					form.center(id = 'searchbox', name ='search', action='/search', method='GET')
						.col-md-8
							input(class="form-control" type="text",name="title",placeholder="搜索...",value=titleInput)
						.col-md-1
							input(class="btn btn-default" type="submit",value="搜索")
			//shopping cart
			a(href='/cart')
				#para(style='float:right; font-size:1.5em;color:red') 
					p(style='display:inline') (
					p(style='display:inline')=user.cart.length
					p(style='display:inline') ) 
				span.glyphicon.glyphicon-shopping-cart.black(style="font-size:2.5em;float:right")
			
			
			.navbar.navbar-default
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								| 女 
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='#') 高帽
								li
									a(href='#') 毛帽
								li
									a(href='#') 便帽
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown')
								| 男 
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='#') 高帽
								li
									a(href='#') 毛帽
								li
									a(href='#') 便帽
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/c') 主页
						li
							a(href='/seller') 卖 
				//end of nav bar
	.container
		.jumbotron
				h1 欢迎来到帽!
				p.lead
					|没有账户？没关系！今天注册获得免费卷值$5! 
				p
					a.btn.btn-lg.btn-success(href='#', role='button') 注册!
		.row
			.col-md-4
				.center
					h2 时尚
					p 
						img.center(src='images/1.jpg', alt='logo')
					p
						a.btn.btn-default(href="#",role="button") 查看 &raquo;
			.col-md-4
				.center
					h2 流行
					p
						img.center(src='images/2.jpg', alt='logo')
					p
						a.btn.btn-default(href="#",role="button") 查看 &raquo;
			.col-md-4
				.center
					h2 新货
					p
						img.center(src='images/3.jpg', alt='logo')
					p
						a.btn.btn-default(href="#",role="button") 查看 &raquo;
	
	
