//
    Created by Alex on 4/05/2016

extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")

head
    title=title
append styles
    link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
block body
    //Load the static navbar -------------------------------------------------------
    .container
        .header
            include ./partials/header.jade
        include ./partials/navbar.jade
        //End loading static navbar --------------------------------------------
    //Get passed individual listing data in "results"
    //Display this data on the page in a meaningful way
    .container
        .row
            .col-md-7
                img(src=results.image, alt='logo',style='width:500px;height:500px;')
            .col-md-3
                h2| #{results.listingTitle}
                p| Price: $#{results.price}
                p| More relevant info here...
                a.btn.btn-default(href="#",role="button") Buy now

        .row
            .col-md-6
                p| Description: #{results.description}