//
    Created by Alex on 4/05/2016

extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")

head
    title=title
append styles
    link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
block body
    //Load the static navbar -------------------------------------------------------
    .container
        .header
          include ./partials/header.jade
        include ./partials/navbar.jade
        //End loading static navbar --------------------------------------------
    //Get passed individual listing data in "results"
    //Display this data on the page in a meaningful way
    .container
        .listingContainer
            .row
            
                h1.center #{results.ListingTitle}
                br
                .col-md-7
                    img.img-circle.show(src='/images/' + results.ListingImage, alt='logo')
                .col-md-5
                    br
                    br
                    p Price: $#{results.ListingPrice}
                    br
                    p Type: #{results.Type}
                    br
                    p Seller:
                        a.btn-link(href="sellerListing?user=" + '#{results.Seller}')  #{results.Seller}
                    form(action="addToCart",method="put",id="form1" enctype="multipart/form-data")
                        select(class="form-control",name="ColourKey")
                            each colour in colours
                                option(disabled=colour.Quantity==0 value='#{colour.ColourKey}') #{colour.ColourName} #{colour.Quantity==0?"(Out of Stock)":""}
                        br
                        //p More relevant info here...
                        //Passing info to cart
                        input(type="hidden" name="ListingKey" value='#{results.ListingKey}')
                        input(type="hidden" name="ListingPrice" value='#{results.ListingPrice}')
                        input(type="hidden" name="ListingImage" value='#{results.ListingImage}')
                        input(type="hidden" name="ListingTitle" value='#{results.ListingTitle}')
                        //Submit listing
                        if(user.loggedIn)
                            input.btn.btn-primary(type="submit" form="form1" value="Add to cart")
                        else
                            input.btn.btn-primary(href='#myModal', data-toggle='modal', data-target='#myModal', value="Add to cart")

            .row
                .col-md-6
                    h4 Description
                    p=results.ListingDesc

//Same as modal on navbar.jade
#myModal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Log in
            .modal-body
                .form-group
                    p Please log in.
            .modal-footer
                a.btn(href='#', data-dismiss='modal') Close
                a.btn.btn-primary(href='/login') Log-in