extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")
head
	title=title
	//meta(name="viewport" content="width=device-width, initial-scale=1")
append styles
	link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
	link(rel="stylesheet" href="/stylesheets/style.css")
block body	
	.container 
		.header
			include ./partials/headerSeller.jade
		include ./partials/navbarSeller.jade
		
	.container
		.center
			#formCenter
				form.centerAdd(action="/addReview",method="post",id="addReview" enctype="multipart/form-data")
					h4 Listing title
					input(class="form-control",type="text", name="ListingTitle", form="form1" placeholder="title",required)
					h4 Colours available
					each colour in colours
						//How should colours be submitted? Number of each colour, or only allow up to 1 for each colour?
						//Should really require that at least one colour is chosen (ie one is above 0).
						h5 #{colour.ColourName}
						input(class="form-control",type="number",step="1", name='#{colour.ColourKey}' form="form1", placeholder="0", min=0)
					h4 Type of hat
					select(class="form-control",name="TypeKey" form="form1")
						each type in types
							option(value='#{type.TypeKey}') #{type.TypeName}
					h4 Description
					textarea(class="form-control",rows="10", name="ListingDesc", form="form1" placeholder="description")
					h4 Price
					input(class="form-control",type="number",step="0.01", name="ListingPrice", form="form1" placeholder="0", min=0.5, required)
					h4 Listing image upload
					input(type="file" value="Choose image file to Upload" name="fileUpload" form="form1" accept="image/*")
					br
					br
					input.btn.btn-success(type="submit" form="addReview" value="Submit listing")
