extends ../node_modules/jade-bootstrap/_bootstrap
append(rel="stylesheet",href="stylesheets/style.css")
head
	title=title
	//meta(name="viewport" content="width=device-width, initial-scale=1")
append styles
	link(rel="stylesheet", href="/stylesheets/jumbotron-narrow.css")
	link(rel="stylesheet" href="/stylesheets/style.css")
block body	
	.container 
		.header 
			include ./partials/header.jade
		include ./partials/navbar.jade
		
		
		.col-md-3
				img(src='/images/' + seller.UserPicture style="width: 100%; max-width: 200px")
		.col-md-4
				h2 #{seller.UserDisplayName}
				a(href='/editProfile')
					span.glyphicon.glyphicon-edit(style="font-size:2em;float:right")
				h4 Contact
				p #{seller.UserContact}
				h4 Description
				p #{seller.UserDesc}

	.container
		//- 	#span(style="font-size:2em;")
		//- 		br
		//- 		span.glyphicon.text-danger.glyphicon-heart
		//- 		span.glyphicon.text-danger.glyphicon-heart
		//- 		span.glyphicon.text-danger.glyphicon-heart
		//- 		span.glyphicon.text-danger.glyphicon-heart
		//- 		span.glyphicon.text-danger.glyphicon-heart-empty
		//- 		br
		if(!reviews.length==0)
			#span(style="font-size:2em;")
				br
				span.glyphicon.text-danger.glyphicon-heart
				span.glyphicon.text-danger.glyphicon-heart
				span.glyphicon.text-danger.glyphicon-heart
				span.glyphicon.text-danger.glyphicon-heart
				span.glyphicon.text-danger.glyphicon-heart-empty
				br
			h2(style='font-style:bold') Reviews
			br
			br
		each review in reviews
			div(style="width:100%; margin-bottom: 10px; overflow: hidden")
				.col-md-2
					img(src='/images/#{review.ReviewUserPicture}' style="width: 100%; max-width: 200px")
					br
				.col-md-10
					#span(style="font-size:1.2em;")
						br
						span.glyphicon.text-danger.glyphicon-heart
						span.glyphicon.text-danger.glyphicon-heart
						span.glyphicon.text-danger.glyphicon-heart
						span.glyphicon.text-danger.glyphicon-heart
						span.glyphicon.text-danger.glyphicon-heart-empty
						br
				
					h4 #{review.ReviewUserName}
					p
						|#{review.ReviewDesc}
				
				
